header{
    .nav-items{
        a{
            color: var($--white);
        }
    }
    .iconbox{
        color: var($--white);
    }
}
input{
    border: 1px solid var($--white);
}
.fixed{
    background-color: var($--green);
    i{
        color: var($--white);
    }
}
.black{
    background-color: var($--black);
    color: var($--white);
    .positionbox{
        border: 1px solid var($--black);
    }
}
.insihing{
    background-color: var($--black);
    color: var($--white);
}