@mixin transition{
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
.fixed{
    position: fixed;
    right: 10px;
    bottom: 10px;
    
}