.display-flex{
    padding: 0 50px;
}
header{
    .nav-items{
        gap: 20px;
    }
}
input{
    padding: 8px 10px;
}
.contact{
    h1{
        margin: 30px 0;
    }
}
.fixed{
    i{
        padding: 15px;
    }
}
.black{
    padding-bottom: 50px;
}
.black{
    h1{
        margin: 30px 0;
    }
    .positionbox{
        padding: 32px 48px;
        margin: 20px 0 0;
        .iconbox2{
            margin: 30px 0 20px;
            
        }
    }
}
.insihing{
    padding: 100px 0 80pxse;
}