* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.contact form input :focus{
  outline: none;
}
.more{
  text-decoration: none;
}
.universal{
  a{
    text-decoration: none;
  }
}