
@media screen and (max-width: 820px) {
  header {
    .nav-items {
      display: none;
    }
  }
  .black {
    h1 {
      font-size: 25px;
      margin-top: 50px;
    }
    .positionbox {
      padding: 10px;
      h2 {
        font-size: 16px;
      }
      h3 {
        font-size: 13px;
      }
    }
  }
  .robot {
    h5 {
      font-size: 10px;
    }
    h4 {
      font-size: 11px;
    }
    .zindex {
      h6 {
        font-size: 10px;
      }
    }
  }
  .home {
    padding-top: 40px;
  }
  .tapp {
    h1 {
      font-size: 10px;
      padding: 75px 0 30px;
    }
    p {
      font-size: 10px;
    }
    img {
      height: 200px;
      width: 300px;
    }
  }
}
@media screen and (max-width: 768px) {
  .tapp {
    h1 {
      font-size: 20px;
    }
    .tap-section-relative {
      img {
        height: auto;
      }
    }
  }
  .black {
    h1{
        font-size: 20px;
    }
  }
  .value {
    .our{
        h1{
            font-size: 20px;
        }
    }
  }
  
  .meet img {
    width: 100%;
  }
  .flex-wrap-responsive {
    display: inherit;
    flex-wrap: wrap;
  }
  .d-none-responsive {
    display: none;
  }
}
