header {
  a {
    font-size: 22px;
    font-weight: 500;
  }
  .iconbox {
    i {
      font-size: 22px;
      cursor: pointer;
      font-weight: 500;
    }
  }
}
input {
  width: 30%;
}
.fixed {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  width: 60px;
  height: 60px;
  i {
    font-size: 35px;
  }
}
.black {
  h1 {
    font-size: 50px;
    font-weight: 100;
  }
  .poitionbox {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    h2 {
      font-size: 24px;
      margin: 20px;
    }
    h3 {
      font-size: 17px;
      margin: 15px;
    }
    .iconbox2 {
      i {
        font-size: 35px;
      }
    }
  }
}
