$color_1: white;
$color_2: var(--orange);
$color_3: #fff;
$color_4: aqua;
$color_5: #080a0c;
$color_6: #15c7e7;
$color_7: #000;
$color_8: #15c7e7;
$color_9: #fff;
$color_10: #000;
$font-family_1: "Poppins", sans-serif;
$font-family_2: "MuseoModerno", cursive;
$background-color_1: #000;
$background-color_2: red;
$background-color_3: black;
$background-color_4: yellow;
$background-color_5: var(--green);
$background-color_6: #080a0c;
$background-color_7: #0f1216;
$background-color_8: #15c7e7;
$background-color_9: #fff;
$background-color_10: transparent;
$background-color_11: var(--blue);
$background-color_12: var(--white);