@import "./reset";
@import "./variable";
@import "./mixin";
@import "./color";
@import "./display";
@import "./font_family";
@import "./padding";
@import "./size";


header {
  .nav-items {
    display: flex;
    gap: 20px;
    align-items: center;

    a {
      //   color: $--black;
      text-decoration: none;
      font-size: 22px;
      font-weight: 500;

      &:hover {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        @include transition;
        color: var(--orange);
      }

      &:not(:hover) {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transition: 0.5s ease;
        -webkit-transition: 0.5s ease;
        -moz-transition: 0.5s ease;
        -ms-transition: 0.5s ease;
        -o-transition: 0.5s ease;
      }

    }
  }
}

.contact {
  form input {
    &:hover {
      margin-left: 10px;
      transition: 0.5s ease;
      -webkit-transition: 0.5s ease;
      -moz-transition: 0.5s ease;
      -ms-transition: 0.5s ease;
      -o-transition: 0.5s ease;
    }
  }

  &:not(:hover) {
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
  }
}

.fixed {
  & :hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transition: 0.5 ease;
    -webkit-transition: 0.5 ease;
    -moz-transition: 0.5 ease;
    -ms-transition: 0.5 ease;
    -o-transition: 0.5 ease;
  }
  & :not(:hover){
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
}
}
.positionbox{
  & :hover{
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    border: 2px solid aqua;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
& :not(:hover){
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.iconbox2{
  i{
    & :hover{
      color: aqua;
    }
  }

}
}