@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,800&display=swap");
:root {
  --black: #080a0c;
  --orange: rgb(216, 124, 19);
  --green: rgb(40, 107, 40);
  --blue: #15c7e7;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: var(--black);
}

.display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

header .nav-items {
  display: flex;
  gap: 20px;
  align-items: center;
}

header .nav-items a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
}

header .nav-items a:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  color: var(--orange);
}

header .nav-items a:not(:hover) {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

header .iconbox i {
  color: white;
  font-size: 22px;
  cursor: pointer;
}

header .iconbox {
  display: flex;
  gap: 20px;
  align-items: center;
}

.contact form input {
  border: 1px solid #ccc;
  padding: 8px 10px;
  width: 30%;
}

.contact h1 {
  text-align: center;
  margin: 30px 0;
}

.contact form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}

.contact form input:hover {
  margin-left: 10px;
  transition: 0.5s ease;
}

.contact form input:not(:hover) {
  transition: 0.5s ease;
}

.contact form input:focus {
  outline: none;
}

table {
  font-size: 18px;
}

.table table {
  width: 100%;
}

.box-relative {
  background-color: red;
  height: 500px;
  width: 500px;
  position: relative;
  /* transform: skew(20deg);
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -ms-transform: skew(20deg);
  -o-transform: skew(20deg); */
}

.box-relative:hover {
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transition: 0.5s ease;
  -o-transform: translateX(10px);
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.box-relative:hover .absolute {
  right: 100px;
  bottom: 100px;
}

.absolute {
  background-color: black;
  position: absolute;
  width: 100px;
  height: 100px;
  right: 150px;
  bottom: 150px;
  z-index: 4;
}

.absolute2 {
  background-color: yellow;
  position: absolute;
  width: 100px;
  height: 100px;
  right: 130px;
  bottom: 130px;
  z-index: 3;
}

.absolute-text {
  font-size: 20px;
  position: absolute;
  color: #fff;
  padding: 20px;
  top: 200px;
  z-index: 5;
}

.fixed {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: var(--green);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.fixed i {
  font-size: 35px;
  color: #fff;
  padding: 15px;
}

.fixed:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  cursor: pointer;
}

.fixed:not(:hover) {
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
}

.black {
  background-color: #080a0c;
  color: #fff;
}

.black h1 {
  font-size: 50px;
  font-weight: 100;
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.black .positionbox {
  padding: 32px 48px;
  margin: 20px 0 0;
  border: 1px solid #090c0f;
  background-color: #0f1216;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.positionbox:hover {
  transform: translateY(-20px);
  border: 2px solid aqua;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.positionbox:not(:hover) {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.positionbox:hover .iconbox2 i {
  color: aqua;
}
.black .positionbox h2 {
  font-size: 24px;
  margin: 20px;
}

.black .positionbox h3 {
  font-size: 17px;
  margin: 15px;
}
.black .positionbox .iconbox2 {
  margin: 30px 0 20px;
}

.black .positionbox .iconbox2 i {
  font-size: 35px;
}

.insihing {
  background-color: #080a0c;
  color: #fff;
  padding: 100px 0 80px;
}

.insihing h1 {
  font-size: 50px;
  margin: 0 0 40px;
  /* font-weight: 600; */
}

.insihing .h6 {
  background-color: #15c7e7;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  color: #080a0c;
  padding: 9px 0 0;
}

.h6 h6 {
  font-size: 13px;
}

.zindex {
  background-color: #15c7e7;
  border-radius: 15px;
  padding: 10px 10px 0;
}

.zindex h6 {
  font-size: 11px;
  color: #080a0c;
}

.robot {
  position: relative;
  z-index: 1;
}

.zindex {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 0%;
}

.robot img {
  border-radius: 12px 12px 0 0;
  width: 100%;
}
.robot h4,
h5 {
  font-size: 15px;
  margin: 20px 15px;
}
.robot h4 {
  color: #15c7e7;
}
.home {
  background-image: url("/assets/img/purple-and-indigo-halftone-patterned-background-e1625561919110.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home .home-content-box {
  color: #fff;
}

@media screen and (max-width: 820px) {
  header .nav-items {
    display: none;
  }
  .black h1 {
    font-size: 25px;
    margin-top: 50px;
  }
  .black .positionbox {
    padding: 10px;
  }
  .black .positionbox h2 {
    font-size: 16px;
  }
  .black .positionbox h3 {
    font-size: 13px;
  }
  .robot h5 {
    font-size: 10px;
  }
  .robot h4 {
    font-size: 11px;
  }
  .robot .zindex h6 {
    font-size: 10px;
  }
  .home {
    padding-top: 40px;
  }
  .tapp h1 {
    font-size: 10px;
    padding: 75px 0 30px;
  }
  .tapp p {
    font-size: 10px;
  }
  .tapp img {
    height: 200px;
    width: 300px;
  }
}
.tapp {
  background-color: var(--black);
  color: white;
  padding: 100px 0 80px;
}
.tapp h1 {
  font-size: 48px;
  font-weight: 200;
  padding: 60px 0;
  font-family: "MuseoModerno", cursive;
}
.tapp p {
  padding: 60px 80px 60px 0;
  font-weight: 200;
}
.tapp .tap-section-relative {
  position: relative;
}
.tapp .tap-section-relative img {
  height: 550px;
  border-radius: 10px;
  width: 100%;
}
.tapp .tap-section-relative .icon-box {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tapp .tap-section-relative .icon-box i {
  color: #000;
  font-size: 20px;
}
.trust {
  color: white;
  position: relative;
}
.trust .trust-absolute {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
  background-image: linear-gradient(115deg, #000000e6 0%, #080a0c99 100%);
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.trust .our h6 {
  color: var(--blue);
  font-size: 14px;
}
.trust .our h1 {
  font-size: 48px;
}
.trust .our p {
  font-size: 16px;
  margin-bottom: 0.9rem;
}
.trust .iconbox i {
  color: var(--blue);
  font-size: 60px;
  padding: 20px 10px 0 0;
}
.trust .premium h6 {
  font-size: 72px;
  font-weight: 300;
}
.trust .premium h5 {
  font-size: 15px;
}
.trust .sum h6 {
  color: var(--blue);
  padding: 35px 0 0 0;
}
.trust {
  padding: 150px 0;
}
.trust {
  background-image: url(/assets/img/47e3ed06-57b1-48f7-9ad9-8d759abb779a.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.value {
  text-align: center;
  padding: 128px 0 0 0;
  background-color: var(--black);
  color: var(--white);
}
.value .our h6 {
  color: var(--blue);
  font-weight: 200;
}
.value .our h1 {
  font-family: "MuseoModerno", cursive;
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 70px;
}
.value .power {
  padding: 48px 32px;
  font-size: 16px;
  border: 1px solid var(--black);
}
.value .power .iconbox i {
  font-size: 40px;
}
.value .power:hover {
  transform: translateY(-20px);
  border: 2px solid aqua;
  border-radius: 10px;
  transition: 0.5s ease;
}
.value .power:not(:hover) {
  transform: translateY(0);
  transition: 0.5s ease;
}

.value .power:hover .iconbox i {
  color: aqua;
}
.meet {
  padding: 128px 0;
  background-color: var(--black);
  color: white;
}
.meet h6 {
  font-size: 14px;
  color: var(--blue);
  font-weight: 200;
  padding: 20px 0;
}
.meet h1 {
  font-size: 48px;
  font-family: "MuseoModerno", cursive;
  font-weight: 200;
}
.meet h5 {
  font-size: 16px;
  font-weight: 200;
  padding: 0 0 30px;
}
.meet a {
  text-decoration: none;
  color: var(--black);
  border: 1px solid var(--blue);
  padding: 15px 30px;
  background-color: var(--blue);
  font-size: 16;
  border-radius: 7px;
  font-weight: 500;
}
.meet img {
  width: 290px;
  height: 387px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
}
.news {
  padding: 80px 0 32px;
  background-color: var(--black);
  color: var(--white);
  text-align: center;
}
.news h1 {
  font-size: 48px;
  font-weight: 300;
  font-family: "MuseoModerno", cursive;
}
.news .email form {
  background-color: var(--green);
  width: 400px;
  height: 70px;
}
.news .button form {
  background-color: var(--blue);
  padding: 20px 20px;
  color: var(--black);
  width: 240px;
  height: 70px;
  border-radius: 5px;
}
.foot {
  background-color: var(--black);
  color: var(--white);
  padding: 80px;
}
.foot .box1 {
  width: 150px;
}
.newsletter-form {
  width: 80%;
}
.newsletter-form input {
  border-bottom: 1px solid #1a1e23;
  padding: 10px 15px;
  border-width: 0px 0px 1px 0px;
  background-color: transparent;
  width: 80%;
}
.newsletter-form .newsletter-button {
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.1);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  background-color: var(--white);
  font-size: 18px;
  padding: 20px 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
