@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --black: black;
  --orange: rgb(216, 124, 19);
  --green: rgb(40, 107, 40);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: var(--black);
}

.display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

header .nav-items {
  display: flex;
  gap: 20px;
  align-items: center;
}

header .nav-items a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
}

header .nav-items a:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  color: var(--orange);
}

header .nav-items a:not(:hover) {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

header .iconbox i {
  color: white;
  font-size: 22px;
  cursor: pointer;
}

header .iconbox {
  display: flex;
  gap: 20px;
  align-items: center;
}

.contact form input {
  border: 1px solid #ccc;
  padding: 8px 10px;
  width: 30%;
}

.contact h1 {
  text-align: center;
  margin: 30px 0;
}

.contact form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}

.contact form input:hover {
  margin-left: 10px;
  transition: 0.5s ease;
}

.contact form input:not(:hover) {
  transition: 0.5s ease;
}

.contact form input:focus {
  outline: none;
}

table {
  font-size: 18px;
}

.table table {
  width: 100%;
}

.box-relative {
  background-color: red;
  height: 500px;
  width: 500px;
  position: relative;
  /* transform: skew(20deg);
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -ms-transform: skew(20deg);
  -o-transform: skew(20deg); */
}

.box-relative:hover {
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transition: 0.5s ease;
  -o-transform: translateX(10px);
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.box-relative:hover .absolute {
  right: 100px;
  bottom: 100px;
}

.absolute {
  background-color: black;
  position: absolute;
  width: 100px;
  height: 100px;
  right: 150px;
  bottom: 150px;
  z-index: 4;
}

.absolute2 {
  background-color: yellow;
  position: absolute;
  width: 100px;
  height: 100px;
  right: 130px;
  bottom: 130px;
  z-index: 3;
}

.absolute-text {
  font-size: 20px;
  position: absolute;
  color: #fff;
  padding: 20px;
  top: 200px;
  z-index: 5;
}

.fixed {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: var(--green);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.fixed i {
  font-size: 35px;
  color: #fff;
  padding: 15px;
}

.fixed:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  cursor: pointer;
}

.fixed:not(:hover) {
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
}

.scale img:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.scale img:not(:hover) {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.black {
  background-color: #080a0c;
  color: #fff;
}

.black h1 {
  font-size: 50px;
  font-weight: 100;
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.black .positionbox {
  padding: 32px 48px;
  margin: 20px 0 0;
  border: 1px solid #090c0f;
  background-color: #0f1216;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.positionbox:hover {
  transform: translateY(-20px);
  border: 2px solid aqua;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.positionbox:not(:hover) {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.positionbox:hover .iconbox2 i {
  color: aqua;
}
.black .positionbox h2 {
  font-size: 24px;
  margin: 20px;
}

.black .positionbox h3 {
  font-size: 17px;
  margin: 15px;
}
.black .positionbox .iconbox2 {
  margin: 30px 0 20px;
}

.black .positionbox .iconbox2 i {
  font-size: 35px;
}

.insihing {
  background-color: #080a0c;
  color: #fff;
  padding: 100px 0 80px;
}

.insihing h1 {
  font-size: 50px;
  margin: 0 0 40px;
  /* font-weight: 600; */
}

.insihing .h6 {
  background-color: #15c7e7;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  color: #080a0c;
  padding: 9px 0 0;
}

.h6 h6 {
  font-size: 13px;
}

.zindex {
  background-color: #15c7e7;
  border-radius: 15px;
  padding: 10px 10px 0;
}

.zindex h6 {
  font-size: 11px;
  color: #080a0c;
}

.robot {
  position: relative;
  z-index: 1;
}

.zindex {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 0%;
}

.robot img {
  border-radius: 12px 12px 0 0;
  width: 100%;
}
.robot h4,
h5 {
  font-size: 15px;
  margin: 20px 15px;
}
.robot h4 {
  color: #15c7e7;
}
.home {
  background-image: url("/assets/img/purple-and-indigo-halftone-patterned-background-e1625561919110.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home .home-content-box {
  color: #fff;
}

@media screen and (max-width: 820px) {
  header .nav-items {
    display: none;
  }
  .black h1 {
    font-size: 25px;
    margin-top: 50px;
  }
  .black .positionbox {
    padding: 10px;
  }
  .black .positionbox h2 {
    font-size: 16px;
  }
  .black .positionbox h3 {
    font-size: 13px;
  }
  .robot h5{
    font-size: 10px;
  }
  .robot h4{
    font-size: 11px;
  }
  .robot .zindex h6{
    font-size: 10px;
  }
}

